/* header */
ul.dropdown-lr {
	width: 300px;
}
.logo-title{
	color:#fff;
	font-size:40px;
	text-decoration: none;
}
a.logo-title:hover{
	text-decoration: none;
	color:#fff;
}
.dropdown a:hover,.dropdown a:focus,.dropdown a:visited{
	text-decoration:none;
	background:#fff;
}

.dropdown .dropdown-menu li{
	padding: 10px 5px;
    border-bottom: 1px solid #cdcdcd;
}
.navbar-nav>li>.dropdown-menu {
	padding:0px !important;
}
.main-menu-dropdown li a{
	color:#0072ce !important;
}
.main-menu-dropdown li{
	padding: 0px 5px !important;
}

.dropdown-menu li:hover  a{
	color:#fff !important;
}
.dropdown-menu li:hover{
	background:#0072ce;
}
.dropdown-menu>li>a:hover{
	background: none !important;
}

.main-menu-dropdown .dropdown-menu li a{
	padding:15px !important;
}
.dropdown-menu .img-language{
	width: 25px;
}
.img-language{
	width: 15px;
    margin: -2px 2px 3px 2px;
}
.img-language.thai-lang-img{
	padding:4px !important;
}
.img-language.selected-img-language{
	padding:0px !important;
	width: 20px !important;
    margin-top: 0px;
}
/* registration page */
.registration-panel{
	margin:30px auto auto;
	width:50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border:0px;
}
@media (max-width:768px){
	.registration-panel{
		width:90%;
	}
	
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
}

/* homepage */
.single-product .single-product-description{
	padding:60px;
}
.single-product .single-product-description p{
	color:#000;
	font-weight: 300;
}
.single-promo-title{
	background: #fff;
	color:#333333;
	font-size:14px;
}
.welcome-area{
	margin:50px 0px;
}
.welcome-area .welcome-grid {
	padding:10px;
}
.welcome-area .welcome-grid .grid-wrapper{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.welcome-area .welcome-grid .grid-wrapper .welcome-grid-article{
	padding:20px;
}	

/* model box */
.modal-content {
	margin: 0px auto;
}
.modal-content .nav-tabs>li.active>a{
	border:0px !important;
}
.modal-header {
  padding: 0;
  background:#0072ce;
}
.modal-header .close {
  padding: 10px 15px;
  color:#fff;
}
.modal-header ul {
  border: none;
}
.modal-header ul li {
  margin: 0;
}
.modal-header ul li a {
  border: none;
  border-radius: 0;
  color:#fff;
}
.modal-header ul li.active{
	background:#fff;
}
.modal-header ul li.active a {
  color: #0072ce !important;
}
.modal-header ul li a:hover  .modal-header ul li{
	background:#fff;
}
.modal-header ul li a:hover {
  border: none;
  color: #0072ce !important;
}
.modal-header ul li a span {
  margin-left: 10px;
}
.modal-body .form-group {
  margin-bottom: 10px;
}

/* login model */
.login-model-wrapper{
	background:#fff !important;
	margin:0px auto;
	float:none;
}
.login-model-wrapper .left{
	background: #0072ce;
	padding: 70px;
}
.login-model-wrapper .right{
	padding: 0px 30px 30px 30px;
}
.login-model-wrapper .right .close-button-wrapper{
	padding:0px !important;	
	text-align:right;
}
.login-model-wrapper .right .close-button-wrapper img{
	width:40px;
	cursor:pointer;
}

@media (max-width:768px){
	.modal-content {
		margin-top: 50px !important;
		width:80%;
	}
	.login-model-wrapper .left{
		display:none;
	}
	.login-model-wrapper .right .close-button-wrapper img {
		margin-top:20px;
	}
}


/* login page */
.login-boxes{
	min-height:20px;
	position:absolute;
	z-index:1;
	width:100%;
	float:left;
	margin-top:-200px;
	
}
.login-boxes-wrapper{
	margin:0px auto;
	width:90%;
    background: #cdcdcd73;
}
.login-boxes .exporter-login-box{
	/* background-image: url("../images/exporter-bg.jpg"); */
}
.login-boxes .buyer-login-box{
	/* background-image: url("../images/buyer-bg.jpg"); */
	
}
.login-boxes .exporter-login-box,.login-boxes .buyer-login-box{
	height:50px;
	background:#fff;
	width:100%;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	padding: 30px 50px 85px 50px;
}
.login-boxes .exporter-login-box .btn,.login-boxes .buyer-login-box .btn{
	border-radius: 0px;
	height: 50px;
}
@media(max-width:1200px){
	.login-boxes{
		min-height:20px;
		position:relative !important;
		z-index:1;
		width:100%;
		float:left;
		z-index:1;
		margin-top:10px;
		
	}
	.login-boxes-wrapper{
		margin:0px auto;
		width:80%;
	}
	.login-boxes .exporter-login-box,.login-boxes .buyer-login-box{
		width:100% !important;
	}
}



/* owl curosel */
.slide-caption {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 20px 50px;
  }
  
  .slide-caption .slide-caption__title {
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 0;
	text-transform: uppercase;
  }
  
  .slide-caption .slide-caption__title:before{
	content: '';
	width: 20%;
	display: block;
	margin: 0 auto;
  }
  
  .owl-item.active .slide-caption .slide-caption__title{
	animation: 1s .2s fadeInUp both;
  }
  
  .owl-item.active .slide-caption .slide-caption__desc{
	animation: 1s .6s fadeInUp both;
  }
  
  .owl-item.active .slide-caption .btn {
	animation: 1s .9s flipInX both;
  }
  
  .slide-caption .slide-caption__desc {
	font-size: 1.8rem;
	font-weight: 300;
	margin-top: 0;
	text-transform: uppercase;
  }
  
  .slide-caption .btn {
	  font-size: 16px;
	  font-weight: 300;
	  border: 2px solid #fff;
	  color: #fff;
	  padding: .6rem 2rem;
	  display: inline-block;
	  text-decoration: none;
	  margin-top: .5rem;
  }
.owl-item-text{
	position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
}
.owl-item-text h1{
	font-size:60px;
}
.owl-item-text p{	
	font-size:30px;
}
.owl-item-text h1,.owl-item-text p{	
	width:70%;
	margin:0px auto;
	background: #ffffff8f;
	padding:5px;
}

.slider-arrow-cls{
	width: 60px;
	padding: 7px;
	background: #ffffff7a;
}
.slider-arrow-cls:hover{
	background: #fff;
}
.owl-carousel {
	position: relative;
}
.owl-prev,
.owl-next {
	position: absolute;
	top: 40%;
	margin-top: -10px; 
}
.latest-product .owl-prev,
.latest-product .owl-next {
	position: absolute;
	top: 45%;
	margin-top: -10px; 
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}
/*  about us*/
.zigzag-content .zig-zag-wrapper{
	margin:50px 0px;
}

.zigzag-content .zig-zag-wrapper .zag h2{
	margin-top:0px;
}
.zigzag-content .zig-zag-wrapper .zag{
	padding-top:0px;
}
/* common */
.iti.iti--allow-dropdown{
	width:100% !important;
}
.form-control{
	border-radius:0px !important;
}
.error{
	color:red;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #0072ce;
    border-color: #0072ce;
}
.width100{
	width:100%;
}
.btn.btn-primary{
	background: #0072ce;
	color:#fff;
	border-color:#0072ce;
	border-radius: 0px;
}
.btn.btn-primary:hover{
	background: #fff;
	color:#0072ce;
	border:1px solid #0072ce:
}
.mt-10{
	margin-top:10px;
}
.mt-30{
	margin-top:30px !important
}
.mb-30{
	margin-bottom:30px !important;
}
.text-white{
	color:#fff !important;
}
.clearfix{
	clear: both;
}
.bg-primary{
	background: none repeat scroll 0 0 #0072ce !important;
    color: #fff !important;
}
.bg-white{
	background: none repeat scroll 0 0 #fff !important;
    color: #0072ce !important;
}